@import url(http://fonts.googleapis.com/css?family=Roboto|Open+Sans:400italic,600italic,400,600);

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
}

a {
  cursor: pointer;
}

#app {
  height: 100vh;
}

.nav-menu {
  display: flex;
  height: 80px;
  margin: 0;
  padding: 0;
  background-color: red;
  font-weight: bold;
}

.nav-menu ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-menu ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
}

.nav-menu ul li a {
  flex: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-menu ul li:hover {
  background-color: #a2cd5a;
}



